html, body {
	line-height: 1.5;
	min-height:100%;
	font-family: 'Verdana', sans-serif;
}

a {
    color: rgb(50, 125, 129)
}

#stat-header {
    background-color: rgb(39, 39, 36);
    font-size: 14px;
    padding: 20px 0;
    color: white;
    text-align: right;
    overflow: hidden;
    width: 100%;
    z-index: 101;
}

#header-text {
    padding: 20px;
}

#header-text a {
    color: rgb(124,217,222);
}

#arrow {
    font-size: 25px;
    margin-top: 60px;
}

#description {
    font-size: 18px;
    width: 550px;
    text-align: center;
}

#funstats {
    font-size: 13px;
    width: 550px;
    text-align: center;
}

#introoutro {
	width: 100%;
	top: 70px;
	background :#fff;
	text-align: center;
	border-radius: 1em;
    font-size: 16px;
}

#introoutro p {
    width: 700px;
    padding: 10px;
    margin: auto;
}

#dates, #shipcomparison, #tags {
    width: 100%;
    text-align: center;
}

/* GRAPH CSS */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: #ce7235;
    stroke-width: 1px;
    z-index: 10
}

.bar {
    fill: #c7601c;
}
  
.bar:hover {
    fill: #335758;
}

/* see: http://bl.ocks.org/caged/6476579 */
.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    text-align: center;
    z-index: 100;
}
  
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}
  
/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

#chargraph, #shipgraph, #taggraph {
    font-size: 10px;
}
